<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/aplikasi_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/aplikasi_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Apk_sispakenmatic"
        tools:targetApi="31">
        <activity
            android:name=".activities.SplashScreen"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.aboutapp.HelpCenterActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activities.history.HistoryActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activities.aboutapp.AboutActivity"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />

                <data android:scheme="mailto" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DetailActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activities.protect.InformasiPencegahan"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activities.crash.InformasiKerusakan"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activities.identification.HasilSolusi"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activities.identification.Pertanyaan"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activities.identification.PilihGejala"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
    </application>

</manifest>